* {
    margin: 0px;
    box-sizing: border-box;
    padding: 0;
}

h1 {
    font-size: 40px;
}

h2 {
    font-size: 30px;
    margin: 20px 10px;
}

/* grid setup */

body {
    height: 100vh;
    display: grid;
    grid-template-areas: 
    'nav nav'
    'content tips';
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 10fr;
}

header,
main,
aside {
    background-color: steelblue;
    color: white;
    padding: 10px;
}

.nav {
    grid-area: nav;
}

.content {
    grid-area: content;
}

.tips {
    grid-area: tips;
}



/* nav */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(62, 62, 172);
}

ul {
    display: flex;
    justify-content: space-around;
}

li {
    margin: 20px;
    font-size: 25px;
    list-style: none;
}



/* images */

img {
    max-width: 200px;
    border: rgb(62, 62, 172) 5px solid;
    border-radius: 20px;
    height: 150px
}

/* .fishobjects {
    display: flex;
    justify-content: space-around;
} */

.fishList {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}

/* quotes */

.section__quotes {
    margin-top: 30px;
}

.quote-blocks {
 display: flex;
 justify-content: space-evenly;
}

.quote-text {
    max-width: 300px;
    margin: 0px 20px;
    font-style: italic;
    background-color: rgb(62, 62, 172);
    padding: 20px;
    border-radius: 20px;
    border: cornflowerblue 3px solid;
}


/* harvest locations */

.section__harvesting {
    margin-top: 30px;
    
}

.locationsList {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    line-height: 40px;
    font-size: 20px;
}

.location_card {
    background-color: rgb(62, 62, 172);
    padding: 20px;
    border-radius: 20px;
    border: cornflowerblue 3px solid;
}

/* tips section */

.tips {
    border-left:  rgb(62, 62, 172) solid 5px;
}

.tip-text {
    background-color: rgb(62, 62, 172);
    padding: 20px;
    border-radius: 20px;
    border: cornflowerblue 3px solid;
}